{% extends 'core/base.html' %}

{% block content %}
    <h1 class='title'>Dashboard</h1>

    {% if userprofile.is_employer %}
        <h2 class='subtitle'>Employer</h2>

        <a href='{% url 'add_job' %}' class='button is-success'>Add job</a>

        {% for job in request.user.jobs.all %}
            <div class='job'>
                <a href='{% url 'view_dashboard_job' job.id %}'>{{ job.title }}</a>
            </div>
        {% empty %}
            <p>You don't have any jobs...</p>
        {% endfor %}
    {% else %}
        <h2 class='subtitle'>Job seeker</h2>
        
        {% for applicaion in request.user.applications.all %}
            <div class='application'>
                <a href='{% url 'view_application' applicaion.id %}'>{{ applicaion.job.title }}</a>
            </div>
        {% empty %}
            <p>You haven't apply for any jobs...</p>
        {% endfor %}
    {% endif %}

    
{% endblock content %}