<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Coding Jobs{% endblock title %}</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>
<body>

    <header>
        <nav class="navbar is-light" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a href='{% url 'index' %}' class='navbar-item'><strong>Coding Jobs</strong></a>
            </div>

            <div class='navbar-menu'>
                <div class='navbar-end'>
                    <div class='navbar-item'>
                        <a href='{% url 'signup' %}' class='button is-primary'>Sign up</a>
                    </div>
                </div>
            </div>
        </nav>          
    </header>

    <main>
        <section class='section'>
            {% block content %}{% endblock content %}
        </section>
    </main>

    <footer>

    </footer>
    
</body>
</html>